* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    text-align: center;
    font-family: sans-serif;
}

/* Navbar */
.navbar a:hover {
    color: #aeaeae;
    border-bottom: 2px solid #a40000;
    text-decoration: none;
}

/* Seccion header */
.title-h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 50px;
    padding: 20px;
    margin-top: 50px;
}

.title-h2 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 50px;
    padding: 20px;
    margin-top: 50px;
}



p {
    font-family: sans-serif;
    font-size: 20px;
    padding: 0 100px;
    margin-bottom: 25px;
    text-decoration: wavy;
}

/* Botones de navegaciones */
.btn {
    display: inline-block;
    padding: 10px;
    color: #f0f8ff;
    margin: 30px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #ffffff ;



}

a {
    text-decoration: none;
}

.btn:hover {
    color: #ffffff;
    border-bottom: 2px solid #a40000;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Encabezado (presentacion) */

.header-p {
    color: #f0f8ff;
    padding: 50px;
    font-family: sans-serif;
    background-image: url(../img/efecto1.jpg) !important;
    background-size: cover;

}
.header {
    color: #f0f8ff;
    padding: 50px;
    font-family: sans-serif;

}

@media screen and (max-width:425px) {
    .title-h1 {
        font-size: 40px;
        padding: 10px;
    }

    .title-h2 {
        font-size: 40px;
        padding: 15px;
    }



    p {
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px;
        margin: 0px;
        text-decoration: wavy;

    }

    .img-principal {
        text-align: center;
    }


}

.img-principal {
    margin-bottom: 20px;
}

/* Cartas de Nosotros */

.cartas {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

@media screen and (max-width:768px) {
    .cartas {
        padding: 20px;
    }
}

/* Seccion nosotros */
.nosotros {
    color: #f0f8ff;
    padding: 15px;
    background-image: url(../img/fondo1a.jpg) !important;
    background-size: cover;

}

/* Seccion actividades */
.actividades {
    color: #f0f8ff;
    padding: 15px;

}

/* Boxs de seccion de contacto  */
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    padding: 3rem;

}

.box-container .box {
    height: 10rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem #00000080;
    margin: 1rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #8f0000;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #8f0000;

}

.box-container .box p {
    padding: 1px;
    font-size: 16px;
}

/* Seccion contacto */

.contacto {
    color: #f0f8ff;
    padding: 15px;
    background-image: url(../img/fondob.jpg) !important;
    background-size: cover;
}

.footer {
    color: #f0f8ff;
    background-color: #8f0000 !important;
    padding: 20px;
}

/* NOSOTROS.HTML */

.conoce {
    background-image: url(../img/fondogym33.jpg);
    background-size: cover;
}

.instalaciones {
    background-image: url(../img/fondogym33.jpg);
    background-size: cover;
}


/* Seccion conoce */
.conoce {
    color: #f0f8ff;
    padding: 15px;
}

/* Seccion de actividades */

.img-act {
    padding: 15px;
}

.p-act {
    padding: 10px;
}

/* Fondo de Horarios.html */

.horarios {
    background-image: url(../img/fondo1a.jpg) !important;
    background-size: cover;
    color: #f0f8ff;
}

/* Formularios */

.form1 {
    background-color: #8f0000 !important;
    background-size: cover;
    padding: 20px;
}

/* Titulo ACTIVIDADES de actividades.html */
.title-act {
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 50px;

}

@media screen and (max-width: 320px) {
    .title-act {
        font-size: 35px;
    }
}

/* Secciones de clases de Actividades */

/* Fondos y estilados de cartas */
.clases-1 {
    background-image: url(../img/fondogym33.jpg) !important;
    background-size: cover;
}

.clases {
    color: #f0f8ff;
    padding: 15px;

}

.card {
    margin-top: 50px;

}

/* Titulos de Textos de Cartas */
h3 {
    text-transform: uppercase;
    padding: 5px;
    text-decoration: underline;
    font-size: 40px;
}

.card-text {
    margin-top: 20px;
}

@media screen and (max-width: 375px) {
    h3 {
        font-size: 30px;
    }
}

/* Seccion HORARIOS.HTML */

/* Grid de Imagenes con horarios */

@media screen and (min-width: 768px) {
    .horarios {
        display: grid;
        grid-template-areas:
            "img-act1 img-act2 img-act3"
            "img-act4 img-act5 img-act6";
        padding: 20px;
    
    }
    
    .img-act1 {
        grid-area: img-act1;
        margin-top: 50px;
    }
    
    .img-act2 {
        grid-area: img-act2;
        margin-top: 50px;
    }
    
    .img-act3 {
        grid-area: img-act3;
        margin-top: 50px;
    
    }
    
    .img-act4 {
        grid-area: img-act4;
        margin-top: 50px;
    
    }
    
    .img-act5 {
        grid-area: img-act5;
        margin-top: 50px;
    
    }
    
    .img-act6 {
        grid-area: img-act6;
        margin-top: 50px;
    
    }
    
    
}

.horarios {
    padding: 20px;
}

.img-act1 {
    margin-top: 50px;
}

.img-act2 {
    margin-top: 50px;
}

.img-act3 {
    margin-top: 50px;

}

.img-act4 {
    margin-top: 50px;
}

.img-act5 {
    margin-top: 50px;
}

.img-act6 {
    margin-top: 50px;
}

/* Titulo h4 */

.title-h4 {
    padding: 20px;
    font-size: 35px;
}